.background-image{
    padding: 10% 0;
    background: #5E2C0B;
    background-image: url( ../../imgs/banner.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
}